<ion-header>
  <ion-toolbar>
    <ion-title>
      Gangguan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="margin:10px">
      <div align="center"><img class="img-responsive" src="assets/images/problem.png" height="100" width="100"></div>
      <p>
        Terjadi Kesalahan.
        Pastikan koneksi internet Anda terhubung ke jaringan kantor.
        Tanyakan kepada teknisi apakah server sedang down?
        Atau hubungi administrator.
      </p>
      <ion-button expand="full" color="primary" (click)="tryAgain()">Coba Lagi</ion-button>
  </div>
</ion-content>